<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Integrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Integrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Integrator.Properties.Settings.ConnectionString" connectionString="Data Source=DBPROD_DEF.WORLD;Persist Security Info=True;User ID=SERV_INTEGRACAO;Password=SERV_INTEGRACAO"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Integrator.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Comum\IntegratorLogs</value>
            </setting>
        </Integrator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Integrator.Properties.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value>DRG</value>
            </setting>
        </Integrator.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>